<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <button @click.prevent="onClickPlay">Play</button>
    <button @click.prevent="onClickIncrementTempo(10)">+10bpm</button>
    <button @click.prevent="onClickIncrementTempo(-10)">-10bpm</button>
    <button @click.prevent="onClickHumanize()" v-if="!humanized">Humanize</button>
    <button @click.prevent="onClickResetGains()" v-else>Reset gains</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { csvParser, drumsPedrinhoAugustoLib, smartynBassLib, createContext } from '@fabriciomendonca/webaudio-looper';
import { createMetronome } from '@/utils/metronome';

const createInstrument = (type: string, name: string) => {
  switch (type) {
    case 'drums':
      return drumsPedrinhoAugustoLib(name);
    default:
      return smartynBassLib();
  }
};

export default Vue.extend({
  name: 'Home',
  data() {
    return {
      playing: false,
      humanized: false,
      channels: {
        metronome: createMetronome(),
      },
      firstBar: 1,
      currentLoop: null,
      loops: [],
      currentCommands: {},
    };
  },
  components: {},

  methods: {
    async play() {
      this.playing = true;
      const context = createContext();
      this.channels.metronome.setContext(context);
      await Promise.all(
        Object.keys(this.channels)
          .filter(c => c !== 'metronome' && this.currentLoop.instruments.find(i => i.name === c))
          .map(c => this.channels[c])
          .map(async c => {
            c.setContext(context);
            await c.updateUrlsBuffers();
            return;
          }),
      );
      await this.channels.metronome.updateUrlsBuffers();

      this.currentCommands = {
        initAtBar: this.firstBar,
        endAtBar: this.currentLoop.instruments[0].parts[0].bars.length,
        gains: {
          metronome: {
            gain: 0.5,
          },
          bass: {
            gain: 0.7,
          },
          drums: {
            gain: 0.3,
          },
        },
      };

      const initTime = this.channels.metronome.getContext().currentTime + 0.1;
      this.channels.metronome.init(initTime, this.currentCommands);
    },

    stop() {
      const channelsToPlay = Object.keys(this.channels)
        .filter(c => c === 'metronome' || this.currentLoop.instruments.find(i => i.name === c))
        .map(c => this.channels[c]);

      channelsToPlay.forEach(c => c.stop && c.stop());
      this.playing = false;
    },

    onClickPlay() {
      if (!this.playing) {
        this.play();
        return;
      }

      this.stop();
    },

    onClickIncrementTempo(amount: number) {
      this.stop();
      const channelsToPlay = Object.keys(this.channels)
        .filter(c => c === 'metronome' || this.currentLoop.instruments.find(i => i.name === c))
        .map(c => this.channels[c]);

      channelsToPlay.forEach(
        c =>
          c.setInfo &&
          c.setInfo({
            tempos: c.getInfo().tempos.map(t => {
              return {
                ...t,
                value: t.value + amount,
              };
            }),
          }),
      );

      this.play();
    },

    onEndPreCount(_: string, { barNumber, nextTick }: { barNumber: number; nextTick: number }) {
      if (!this.playing) {
        return;
      }
      const channelsToPlay = Object.keys(this.channels)
        .filter(c => c !== 'metronome' && this.currentLoop.instruments.find(i => i.name === c))
        .map(c => this.channels[c]);
      channelsToPlay.forEach(c => c.init && c.init(nextTick, this.currentCommands));
    },

    onClickHumanize() {
      const channelsToPlay = Object.keys(this.channels)
        .filter(c => c !== 'metronome' && this.currentLoop.instruments.find(i => i.name === c))
        .map(c => this.channels[c]);
      for (const instrument of channelsToPlay) {
        instrument.humanizeGains();
      }

      this.humanized = true;
    },
    onClickResetGains() {
      const channelsToPlay = Object.keys(this.channels)
        .filter(c => c !== 'metronome' && this.currentLoop.instruments.find(i => i.name === c))
        .map(c => this.channels[c]);
      for (const instrument of channelsToPlay) {
        instrument.resetGains();
      }
      this.humanized = false;
    },
  },

  async mounted() {
    const data = await fetch('test-features.txt');
    const loopsText = await data.text();
    const parser = csvParser(loopsText);
    this.loops = parser.parse();

    // try {
    //   parser.transpose(-6);
    // } catch (e) {
    //   console.log(e);
    // }

    const loop = this.loops[0];
    const info = {
      tempos: [
        {
          initAtBar: 1,
          value: loop.tempo,
          timeSignature: {
            id: 'ts',
            value: loop.timeSignature,
            type: 'simple',
          },
        },
      ],
    };

    this.channels.metronome.toggleActive(true);

    await Promise.all(
      loop.instruments.map(async i => {
        const lib = createInstrument(i.type, i.name);

        this.channels[i.name] = lib;

        lib.setWorker(this.channels.metronome.getWorker());
        await lib.loadAudio();

        lib.setInfo(info);
        lib.subscribe('firstBarChange', (_, data) => {
          this.channels.metronome.setCommands({
            ...this.currentCommands,
            initAtBar: data.barNumber,
          });
        });
        lib.setBars(i.parts[0].bars);
      }),
    );

    await this.channels.metronome.loadAudio();
    this.channels.metronome.setInfo(info);
    this.channels.metronome.subscribe('endPreCount', this.onEndPreCount);
    this.currentLoop = loop;
  },
});
</script>
